/** @format */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

@keyframes rainbow {
   0% {
      color: red;
   }
   17% {
      color: orange;
   }
   34% {
      color: yellow;
   }
   50% {
      color: green;
   }
   66% {
      color: blue;
   }
   83% {
      color: indigo;
   }
   100% {
      color: violet;
   }
}

.home-container {
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 40px;
   font-family: "Arial";
}

.home-title {
   font-size: 60px;
   font-weight: bold;
   margin-bottom: 1rem;
   animation: rainbow 2s infinite alternate;
   font-family: "Comic Neue";
}

.nft-pic img {
   max-width: 75%;
}
.home-body {
   font-size: 1.3rem;
   max-width: 600px;
   margin-bottom: 2rem;
}

.submit-btn:hover {
   background-color: #ff916d;
}

.submit-btn {
   background-color: lightcoral;
   color: white;
   font-size: 18px;
   font-weight: bold;
   padding: 12px 22px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   margin-top: 30px;
}
