/** @format */
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@keyframes rainbow {
   0% {
      color: red;
   }
   17% {
      color: orange;
   }
   34% {
      color: yellow;
   }
   50% {
      color: green;
   }
   66% {
      color: blue;
   }
   83% {
      color: indigo;
   }
   100% {
      color: violet;
   }
}
@keyframes shake {
   0%,
   100% {
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70%,
   90% {
      transform: translateX(-4px);
   }
   20%,
   40%,
   60%,
   80% {
      transform: translateX(4px);
   }
}

@keyframes big-small {
   0%,
   100% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.05);
   }
}

.divider1 {
   margin-top: 20px;
   height: 2px;
   background: linear-gradient(
      to right,
      #ff0000,
      #ff9900,
      #33cc33,
      #3399ff,
      #cc33ff
   );
   animation: fadeInOut 1.8s infinite;
}
.divider2 {
   margin-top: 20px;
   height: 2px;
   background: linear-gradient(
      to right,
      #ff0000,
      #ff9900,
      #33cc33,
      #3399ff,
      #cc33ff
   );
   animation: fadeInOut 2.8s infinite;
}
.divider3 {
   margin-top: 20px;
   height: 2px;
   background: linear-gradient(
      to right,
      #ff0000,
      #ff9900,
      #33cc33,
      #3399ff,
      #cc33ff
   );
   animation: fadeInOut 3.2s infinite;
}

@keyframes fadeInOut {
   0%,
   100% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
}

.home-container {
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 40px;
   font-family: "Arial";
}

.home-title {
   font-size: 63px;
   font-weight: bold;
   margin-bottom: 15px;
   animation: rainbow 5s infinite alternate;
   font-family: "Montserrat";
}

.nft-pic img {
   max-width: 80%;
   border: 4px solid #ff9800;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
}

.baycLink {
   color: white;
   font-style: italic;
   font-size: 12px;
   text-decoration: none;
   font-family: "Montserrat";
}

.home-body {
   font-size: 28px;
   max-width: 600px;
   font-family: "Montserrat";
   margin-bottom: 2rem;
}

.submit-btn:hover {
   background-color: #ff916d;
}

.submit-btn {
   background-color: lightcoral;
   color: white;
   font-size: 18px;
   font-weight: bold;
   padding: 12px 40px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   margin-top: 30px;
}

/* 2nd section */
.info-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
   padding: 20px;
   opacity: 0;
   transition: opacity 2.5s ease, transform 2.5s ease;
   transform: translateY(100px);
   background-color: #222;
}

.info-container img {
   margin-left: -30px;
   max-width: 110%;
   height: auto;
   border-radius: 10px;
}
.degodLink {
   color: white;
   font-style: italic;
   font-size: 12px;
   text-decoration: none;
   font-family: "Montserrat";
   margin-left: 170px;
}

.info-text {
   padding: 25px;
   background-color: #222;
   color: white;
   font-size: 34px;
   margin-left: 247px;
   font-family: "Montserrat";
}

.info-container.animate {
   transform: translateY(0);
   opacity: 1;
}

.info-title-text {
   background-image: linear-gradient(
      to right,
      #ff0000,
      #ff9900,
      #33cc33,
      #3399ff,
      #cc33ff
   );
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-style: italic;
}

.crypto-text {
   color: #119ad5;
}

.nft-art-text {
   color: rgb(251, 3, 201);
}

.ether-tokens-text {
   color: rgb(0, 255, 0);
}
.globe-text {
   color: cyan;
}

/* 3rd section */

.info2-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 90px;
   background-color: #222;
   border-radius: 10px;
   transition: opacity 2.5s ease, transform 2.5s ease;
   transform: translateY(50px);
}
.info2-container.animate {
   transform: translateY(0);
   opacity: 1;
}

.left-container {
   flex: 1;
   margin-right: 60px;
   animation: big-small 2s ease infinite;
}

.header1 {
   font-size: 72px;
   font-weight: bold;
   margin-bottom: 20px;
   color: white;
   font-family: "Montserrat";
   animation: fadeInOut 0.3s infinite;
}

.header2 {
   font-size: 48px;
   color: white;
   font-family: "Montserrat";
   color: orange;
}

.right-container {
   flex: 1;
   display: flex;
   justify-content: flex-end;
}

.submit-button {
   padding: 20px 40px;
   font-size: 24px;
   font-weight: bold;
   box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.2);
   transition: background-color 0.3s ease;
   color: white;
   background-color: rgb(7, 189, 7);
   border: none;
   border-radius: 6px;
   cursor: pointer;

   font-family: "Montserrat";
}

.submit-button:hover {
   background-color: darkslategray;
   animation: shake 0.5s;
}

/* footer */
.footer-container {
   background-color: #222;
   color: #fff;
   padding: 10px 0;
   margin-top: 20px;
}

.footer-container img {
   width: 30px;
   height: 30px;
   border-radius: 20px;
}

.footer-container .github-logo {
   width: 30px;
   height: 30px;
   border-radius: 20px;
   margin-right: 10px;
}

.github-link {
   text-decoration: none;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}
