/** @format */

.navbar-container {
   background: linear-gradient(to right, #000, #122, #000);
   border-bottom: 2px solid;
   border-image: linear-gradient(
      to right,
      #ff0000,
      #ff9900,
      #33cc33,
      #3399ff,
      #cc33ff
   );
   border-image-slice: 1;
}
.navbar-brand {
   background-image: linear-gradient(
      to right,
      #ff0000,
      #ff9900,
      #33cc33,
      #3399ff,
      #cc33ff
   );
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 28px;
   font-family: "Montserrat";
}

.nav-link {
   color: lightblue;
   font-weight: bold;
   margin-right: 22px;
   font-family: "Montserrat";
}

.nav-link:hover {
   color: #ffcc00;
}
.connect-button {
   background: orange;
   color: black;
   border: none;
   padding: 12px 18px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   font-family: "Montserrat";
}

.connect-button:hover {
   background: darkorange;
}

.connected-message {
   font-weight: bold;
   margin-top: 10px;
   padding: 10px 16px;
   border-radius: 70px;
   background-color: #00ff66;
   box-shadow: 0 3px 6px rgba(0, 255, 102, 0.3);
   font-family: "Montserrat";
}
